#--------------------------------------------------------------------
# WMVAA Akademia Environment Configuration Example
#--------------------------------------------------------------------

# CI_ENVIRONMENT = production

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

# app.baseURL = ''
# app.forceGlobalSecureRequests = false
# app.CSPEnabled = false

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

# database.default.hostname = localhost
# database.default.database = wmvaa_akademia
# database.default.username = root
# database.default.password = 
# database.default.DBDriver = MySQLi
# database.default.port = 3306

# database.tests.hostname = localhost
# database.tests.database = wmvaa_akademia_test
# database.tests.username = root
# database.tests.password = 
# database.tests.DBDriver = MySQLi
# database.tests.port = 3306
